.comnouaman{
      display: flex;
      justify-content: center;
}

.dolnouaman{
    display: flex;
    justify-content: center;
}

.gesnouaman{
    width: 500px;
    padding: 4.5vh 2vw;
    border: #6b99bf 5px solid;
    background-color: #90ccfe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Geschiedenisnouaman{
    display: flex;
    justify-content: center;
    margin-top: 22vh;
}