body{
    background-color: #ffffff;
}

#medewerker-gian{
    display: flex;
    flex-direction: column;
    width: 30vw;
    border: #cd9fa7 5px solid;
    margin: 10px;
    padding: 20px;
    background-color: #ffced7;
}
#medewerker-gregor{
    display: flex;
    flex-direction: column;
    width: 30vw;
    border: #65bb94 5px solid;
    margin: 10px;
    padding: 20px;
    background-color: #7ce6b6;
}
#medewerker-nouaman{
    display: flex;
    flex-direction: column;
    width: 30vw;
    border: #6b99bf 5px solid;
    margin: 10px;
    padding: 20px;
    background-color: #90ccfe;
}
#medewerker-stacey{
    display: flex;
    flex-direction: column;
    width: 30vw;
    border: #bab146 5px solid;
    margin: 10px;
    padding: 20px;
    background-color: #fff162;
}
#overons-1{
    display: flex;
    justify-content: center;
}
#overons-2{
    display: flex;
    justify-content: center;
}
#medewerkers-main{
   margin-top: 8vh;
}