body{
    background-color: #ffffff;
    overflow: hidden;

}

/* Home CSS */
#home-img{
    height: 90vh;
    width: 40vw;
    margin-left: 30vw;
}

/* Producten CSS */
#product1{
    width: 200px;
    position: absolute;
    background-color: #7ce6b6;
    padding: 2vh 0.5vw;
    text-align: center;
    margin-left: 3vw;
    border: #65bb94 solid 5px;
}
#product2{
    width: 200px;
}
#leveranciers{
    width: 220px;
    position: relative;
    left: 400px;
    background-color: #90ccfe;
    padding: 2vh 0.5vw;
    text-align: center;
    border: #6b99bf solid 5px;
}
.title-text{
    margin-bottom: 10px;
}

/* Medewerkers CSS */
#medewerker-gian{
    display: flex;
    flex-direction: column;
    width: 30vw;
    border: #cd9fa7 5px solid;
    margin: 10px;
    padding: 20px;
    background-color: #ffced7;
}
#medewerker-gregor{
    display: flex;
    flex-direction: column;
    width: 30vw;
    border: #65bb94 5px solid;
    margin: 10px;
    padding: 20px;
    background-color: #7ce6b6;
}
#medewerker-nouaman{
    display: flex;
    flex-direction: column;
    width: 30vw;
    border: #6b99bf 5px solid;
    margin: 10px;
    padding: 20px;
    background-color: #90ccfe;
}
#medewerker-stacey{
    display: flex;
    flex-direction: column;
    width: 30vw;
    border: #bab146 5px solid;
    margin: 10px;
    padding: 20px;
    background-color: #fff162;
}
#overons-1{
    display: flex;
    justify-content: center;
}
#overons-2{
    display: flex;
    justify-content: center;
}
#medewerkers-main{
   margin-top: 8vh;
}

/* Klachten CSS */
#klachten-retour{
    min-height:100%;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#klacht-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0000a4;
    margin: 8vh;
    flex-direction: column;

}
#klacht-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d4bbef;
    width: 30vw;
    height: 60vh;
    border: #ae99c5 5px solid;
}
#naam-input{
    margin-bottom: 40px;
}
#klacht-message{
    margin-top: 2vh;
    font-weight: bold;
}
#retour-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffb075;
    width: 45vw;
    height: 60vh;
    padding: 5vh 5vw;
    margin-bottom: 15vh;
    border: #bb7f51 5px solid;
}

/* Geschiedenis CSS */
.comnouaman{
    display: flex;
    justify-content: center;
}

.dolnouaman{
  display: flex;
  justify-content: center;
}

.gesnouaman{
  width: 500px;
  padding: 4.5vh 2vw;
  border: #6b99bf 5px solid;
  background-color: #90ccfe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Geschiedenisnouaman{
  display: flex;
  justify-content: center;
  margin-top: 22vh;
}

/* Eco CSS */
.comgregor{
    display: flex;
    justify-content: center;
}


.ecogregor{
  width: 500px;
  padding: 4.5vh 2vw;
  border: #bab146 5px solid;
  background-color: #fff162;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eco-vriendelijkheidgregor{
  display: flex;
  justify-content: center;
  margin-top: 13vh;
}

/* Login CSS */
#Login{
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #90ccfe;
    width: 20vw;
    height: 40vh;
    border: #6585b8 5px solid;
}

.verzend-knop{
    margin-top: 3vh;
    margin-left: 12vh;
}

/*filters*/
.Filter-leveranciers{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;  
    top: 38%;
    right:15% ;
    transform: translateY(-50%);
  
  }
  
  

#Form-Filter-leveranciers{
    display: flex;
    justify-content: center;
    margin-left: 5vh;
    position: relative;
    bottom: 50vh;
  
    }
