.product1{
    width: 200px;
    position: absolute;
    color: aqua;
    background-color: green;
}
.leveranciers{
    width: 220px;
    position: relative;

    left: 400px;
    color: aqua;
    background-color: blue;
}