#product1{
    /* width: 200px;
    position: absolute;
    color: aqua;
    background-color: green; */
}
<<<<<<< HEAD
#product2{
    /* width: 200px;
=======
.leveranciers{
    width: 220px;
>>>>>>> add46722f8ad8414d06135723b5a5dd015b198f5
    position: relative;

    left: 400px;
    color: aqua;
    background-color: blue; */
}