*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    position: relative;
    min-height: 100%;
}
body{
   margin-bottom: 8vh;
}
.nav-li{
    list-style-type: none;
    margin: 20px;
    font-weight: bold;
}
.nav-li a{
    text-decoration: none;
    color: rgb(236, 236, 236);
}
#nav-list{
    width: 100%;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}
#nav-logo{
    list-style-type: none;
}
#logo-img{
    height: 6vh;
    width: 12vw;
    margin: 6px 6px 12px 6px;
}
nav{
    display: flex;
    background-color: #0000a4;
    height: 10vh;
    /* width: 100vw; */

    /* border-bottom: 10px rgb(15, 15, 167) solid; */
}

/* footer*/

#footerbalk{
    background-color: #0000a4;
    height: 8vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}